body {
    background-color: beige;
}

p {
    font-size: 24px;
}

button {
    padding: 5px;
}

#number {
    margin-bottom: 0;
}

#bet,
#betSlider {
    display: none;
    vertical-align: middle;
}

#bet {
    margin-right: 20px;
}

#higherPayout {
    margin-top: 0;
}

#higher,
#lower {
    display: none;
}

#higher {
    margin-right: 5px;
}

#playAgain {
    display: none;
}
